:root{
  --color-main: #a6d5fb;
  --color-main-dark: #89c5f7;
}

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  scroll-behavior: smooth;
}

body{
  background-color: var(--color-main);
  max-width: 100%;
  
}

.btn_main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
}
.btn_main:hover{
  opacity: 0.7;
}

.btn_buy{
  background-color: #333;
  color: var(--color-main);
  font-weight: bold;
  width: 100%;
  height: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.btn_buy:hover{
  color: #fff;
  cursor: pointer;
}

.btn_demo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: lightseagreen;
  color: #fff;
  font-weight: bold;
  width: 100%;
  height: 30px;
  text-decoration: none;
  font-size: 15px;
}
.btn_demo:hover{
  color: #333;
  cursor: pointer;
}

.btn_whatsapp{
  color: #fff;
  background-color: rgb(8, 190, 8);
}

.btn_telegram{
  background-color: dodgerblue;
  color: #fff;
}

.btn_instagram{
  background-color: rgb(206, 50, 102);
  color: #fff;
}